[submodule "rom/gb-test-roms"]
	path = rom/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "lib/imgui"]
	path = lib/imgui
        url = https://github.com/ocornut/imgui.git
        branch = docking
[submodule "lib/imgui_club"]
	path = lib/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "rom/dmg-acid2"]
	path = rom/dmg-acid2
	url = https://github.com/mattcurrie/dmg-acid2.git
[submodule "rom/cgb-acid2"]
	path = rom/cgb-acid2
	url = https://github.com/mattcurrie/cgb-acid2.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
